<footer class="footer bg-dark">
  <div class="container" style="text-align: center;">
    <a
      class="bi bi-facebook text-light"
      style="font-size: medium;"
      href="https://facebook.com"
      title="Facebook"
    ></a>
    <a
      class="bi bi-instagram text-light"
      style="font-size: medium; margin-left: 5rem;"
      href="https://instagram.com"
      title="Instagram"
    ></a>
    <a
      class="bi bi-linkedin text-light"
      style="font-size: medium; margin-left: 5rem;"
      href="https://linkedin.com"
      title="LinkedIn"
    ></a>
    <a
      class="bi bi-twitter text-light"
      style="font-size: medium; margin-left: 5rem;"
      href="https://twitter.com"
      title="Twitter"
    ></a>
  </div>
</footer>
